footer {
    text-align: center;
    padding: 2rem;
    border-top: 1px solid #eee;
    font-size: 0.8rem;
    color: $color-text-light;
    text-transform: uppercase;
    letter-spacing: 1px;
}