.catalog-container {
    padding-top: 4rem;
}

.catalog-section {
    padding: 4rem 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #f9f9f9;

    &:last-child { border-bottom: none; }

    .section-header {
        text-align: left;
        margin-bottom: 3rem;
        h2 {
            font-size: 2.2rem;
            margin-bottom: 0.5rem;
        }
        p {
            color: $color-text-light;
            font-style: italic;
        }
    }

    @media (max-width: 768px) {
        padding: 3rem 1.5rem;
        .section-header h2 { font-size: 1.8rem; }
    }
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 250px; 
    gap: 1.5rem;

    .product-card {
        position: relative;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &.tall { grid-row: span 2; } 
        &.wide { grid-column: span 2; }
        @media (max-width: 550px) { &.wide { grid-column: span 1; }}

        .img-container {
            flex-grow: 1;
            overflow: hidden;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.6s ease;

            }
        }

        .info {
            padding-top: 1rem;
            display: flex;
            justify-content: space-between;

            h3 {
                font-family: $font-body;
                font-size: 0.85rem;
                text-transform: uppercase;
                letter-spacing: 0.5px;
            }
            span { font-size: 0.9rem; font-weight: 600; }
        }

        &:hover .img-container img {
            transform: scale(1.03);
        }
    }
}