.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem; 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: rgba(255, 255, 255, 0.98);
    border-bottom: 1px solid #f5f5f5;

    .logo {
        font-family: $font-heading;
        font-size: 1.5rem;
        letter-spacing: 2px;
        font-weight: 600;
        z-index: 102; 
    }

    .menu {
        display: flex;
        list-style: none;
        gap: 3rem;
        
        a {
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;

             &::after {
                 content: '';
                 position: absolute;
                 width: 0; height: 1px;
                 bottom: -5px; left: 0;
                 background-color: $color-text-main;
                 transition: width 0.3s ease;
             }
             &:hover::after { width: 100%; }
        }
    }

    .burger {
        display: none;
        cursor: pointer;
        z-index: 102;
        
        div {
            width: 25px;
            height: 2px;
            background-color: $color-text-main;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }


    @media (max-width: 768px) {
        padding: 1.5rem;

        .menu {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            width: 100%;
            background-color: $color-bg;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
            z-index: 101;

            a {
                font-family: $font-heading;
                font-size: 2rem;
                opacity: 1;
            }
        }

        .burger {
            display: block;
        }
    }

    .nav-active {
        transform: translateX(0%);
    }
}

.toggle {
    .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .line2 {
        opacity: 0;
    }
    .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}